/* ==============
	登録ページCSS
================ */

@charset "UTF-8";

/* === 共通CSS === */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	background: linear-gradient(90deg, rgba(231, 199, 255, 1) 0%, rgba(210, 229, 255, 1) 100%);
	color: #333;
	font-family: メイリオ;
}

img {
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* === ヘッダー === */
header {
	background-color: #7c26e6;
	padding: 4rem 0 2rem 0;
}

.header-container {
	width: 1000px;
	margin: 0 auto;
}

/* === メイン === */
main {
	padding: 2.5rem 0 0 0;
}

.main-container {
	width: 800px;
	margin: 0 auto;
}

h1 {
	color: #6902a6;
	margin: 0 0 1.5rem 0;
	font-size: 3.6rem;
}

h2 {
	color: #6902a6;
	border-bottom: 1px solid #a26cd2;
	padding: 0 0 .3rem 0;
}

.registration-flow-list {
	display: flex;
	gap: 1rem;
	font-size: 2.6rem;
	font-weight: 600;
	margin: 0 0 4.5rem 0;
}

.registration-flow-list li {
	flex: 1;
	display: flex;
	padding: .5rem 0 .5rem 1.5rem
}

.step {
	background-color: #fff;
	color: #999;
}

.step>span {
	color: #d2a4ff;
	margin: 0 1rem 0 0;
}

.current-step {
	background-color: #d2a4ff;
	color: #fff;
}

.current-step>span {
	color: #6902a6;
	margin: 0 1rem 0 0;
}

.error {
	color: #eb4d4d;
	background-color: #ffd6e4;
	border: 1px solid #eb4d4d;
	padding: 2.5rem 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
}

.input-error {
	font-weight: bold;
}

.instruction {
	color: #333;
	padding: 1.5rem 0;
}

.contact-field {
	padding: 0 0 3.5rem 0;
}

.contact-field>p {
	font-size: 1.4rem;
	padding: 1.5rem 0 2rem 0;
}

.contact-notice {
	font-weight: bold;
}

.contact-important {
	color: #db35ff;
}

.contact-field small {
	font-size: 1.4rem;
	display: block;
}

.info-list {
	display: flex;
	flex-wrap: wrap;
}

.info-list>dt {
	width: 28.75%;
	font-weight: bold;
	background-color: #dfbaff;
	border-bottom: 1px solid #a26cd2;
	border-left: 1px solid #a26cd2;
	border-right: 1px solid #a26cd2;
	padding: 1.5rem 0 0 2rem;
	font-size: 1.8rem;
	color: #525252;
}

.info-list>dt:nth-child(1) {
	border-top: 1px solid #a26cd2;
}

.info-list>dd {
	width: 71.25%;
	padding: 2rem 2rem 1.5rem 0;
	border-bottom: 1px solid #a26cd2;
	border-right: 1px solid #a26cd2;
	padding: 1.7rem 0 2rem 2rem;
}

.info-list>dd:nth-child(2) {
	border-top: 1px solid #a26cd2;
}

.required {
	color: #eb4d4d;
}

.error-message {
	margin: .9rem 0 0 0;
	line-height: 1;
}

.notes {
	font-size: 1.4rem;
	font-weight: normal;
	display: block;
}

label[for="job-url"] {
	line-height: 1;
}

.job-url-notes {
	display: block;
	color: #333;
	padding: 1.2rem 0 0 0;
	font-size: 1.4rem;
}

input[type="text"]::placeholder,
input[type="url"]::placeholder {
	color: #999;
	font-family: メイリオ;
}

.lg-input {
	width: 53rem;
	font-size: 1.6rem;
	border: 1px solid #a26cd2;
	padding: 1.2rem 0 1rem 1.8rem;
}

.sm-input {
	border: 1px solid #a26cd2;
	font-size: 1.6rem;
	width: 10rem;
	padding: 1.2rem 0 1rem 1.8rem;
}

.shop-info-field {
	padding: 0 0 4rem 0;
}

.shop-info-field>h2 {
	margin: 0 0 2rem 0;
}

.building-field {
	padding: 1.7rem 0 0 0;
}

.city,
.building {
	font-weight: bold;
	color: #525252;
	display: block;
	padding: 0 0 .5rem 0;
}

.radio-btn-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 0;
	color: #555;
}

.radio-btn-list li {
	width: 33%;
	display: flex;
	align-items: center;
}

.regular-mail {
	font-size: 1.4rem;
	color: #333;
	display: block;
	padding: 1.5rem 0 2rem 0;
	font-weight: bold;
}

input[type="radio"] {
	appearance: none;
}

input[type="radio"]::before {
	content: '';
	display: block;
	width: 3rem;
	height: 3rem;
	border: 6px solid #fff;
	border-radius: 50%;
	margin: 0 1rem 0 0;
	cursor: pointer;
}

input[type="radio"]:checked::before {
	border: 6px solid #a26cd2;
}

select {
	color: #555;
	appearance: none;
	cursor: pointer;
}

.area {
	position: relative;
}

.area::before {
	content: '';
	width: 1.8rem;
	height: 1.1rem;
	display: block;
	background-image: url('../../img/chevron-down.png');
	position: absolute;
	top: 3rem;
	right: 3rem;
	z-index: 1;
	pointer-events: none;
}

.terms-list {
	background-color: #fff;
	border: 1px solid #a26cd2;
	margin: 2rem 0 0 0;
	color: #555;
	padding: 1rem 1.7rem;
	font-size: 1.2rem;
	height: 16rem;
	overflow-y: scroll;
}

.terms-list>dt {
	font-weight: bold;
	margin: 1.5rem 0 0 0;
}

.terms-list>dt:nth-child(1) {
	margin: 0;
}

.agreement-input {
	background-color: #fff;
	border: 1px solid #a26cd2;
	margin: 2rem 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.4rem 0;
}

input[type="checkbox"] {
	appearance: none;
}

input[type="checkbox"]::before {
	content: '';
	width: 3rem;
	height: 3rem;
	display: block;
	border: 1px solid #888;
	margin: 0 1.5rem 0 0;
	background-color: #dfdfdf;
	background-image: url('../img/checked.png');
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

input[type="checkbox"]:checked::before {
	content: '';
	width: 3rem;
	height: 3rem;
	display: block;
	background-image: url('../img/checked-purple.png');
}

/* 確認ページではチェックボックスを編集できないようにする */
.agreement-confirm input[type="checkbox"]:checked {
	pointer-events: none;
}

.agreement-input>label {
	color: #525252;
}

.agreement-check>.error-message {
	text-align: center;
	padding: 1rem 0 0 0;
}

.terms-of-service > h2 {
	font-size: 1.8rem;
}

/* === 大きめボタンの型 === */
.confirm-btn {
	display: block;
	width: 36rem;
	border-radius: 2.8rem;
	text-align: center;
	margin: 6rem auto 0 auto;
	font-size: 2.4rem;
	color: #fff;
	padding: 1rem 0;
	cursor: pointer;
	background-color: #420a64;
	box-shadow: 0 3px 0 0 rgba(33, 4, 51, 0.5);
	transition: margin background-color .3s ease;
}

.confirm-btn:hover {
	background-color: #8852a9;
}

.confirm-btn:active {
	box-shadow: none;
	margin: 6.3rem auto -.3rem auto;
}

.logo-container {
	background-color: #dfbaff;
	border-top: 1px solid #a26cd2;
	border-bottom: 1px solid #a26cd2;
	display: flex;
	justify-content: center;
	padding: 3.5rem 0;
}

.cta-container>span {
	font-size: 3.6rem;
	color: #6902a6;
	font-weight: bold;
	display: block;
	padding: 4.5rem 0 2.5rem 0;
}

.cta-login-btn {
	background-color: #ffe500;
	color: #290042;
	display: block;
	width: 60rem;
	font-size: 2.8rem;
	border-radius: 3.9rem;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 3px 0 0 rgba(167, 141, 19, 0.5);
	padding: 1.6rem 0;
	margin: 0 auto;
}

.cta-login-btn:hover {
	background-color: #ffef5f;
	color: #6b2098;
	box-shadow: 0 3px 0 0 rgba(234, 213, 114, 0.5);
}

.cta-login-btn:active {
	box-shadow: none;
	margin: .3rem auto -.3rem auto;
}

.cta-container>p {
	font-size: 2.8rem;
	text-align: center;
	padding: 2.5rem 0 4.5rem 0;
}

.create-url {
	color: #db35ff;
	font-weight: bold;
}

.cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.step-container {
	background-color: #420a64;
}

.step-container-inner {
	width: 800px;
	margin: 0 auto;
}

.step-container-inner h2 {
	font-size: 3.6rem;
	color: #fff;
	text-align: center;
	border: none;
	padding: 3rem 0;
}

.step-list {
	display: flex;
	justify-content: space-between;
}

.to-do {
	color: #db35ff;
	font-size: 2.2rem;
	display: block;
	text-align: center;
	font-weight: bold;
}

.description {
	font-size: 1.4rem;
	color: #fff;
	padding: 1.5rem 0 5rem 0;
}

.description::before {
	content: '●';
	width: 1.3rem;
	height: 1.3rem;
	color: #db35ff;
}

.screen {
	color: #fff;
	font-size: 1.6rem;
	display: block;
	text-align: center;
}

.how-to-use {
	padding: 2rem 0;
}

.advantage {
	display: flex;
	padding: 5.8rem 0 4.8rem 0;
	justify-content: space-between;
}

.advantage-description>h2 {
	border: none;
	font-size: 3.2rem;
}

.about-text {
	display: block;
}

.advantage-text {
	display: block;
	padding: .5rem 0 0 0;
}

.about-text span {
	color: #db35ff;
	font-weight: bold;
}

.advantage-description>p {
	font-size: 2rem;
}

.advantage-description {
	padding: 1.5rem 0 0 0;
}

.address label {
	font-weight: bold;
	color: #525252;
	display: block;
	padding: 0 0 .5rem 0;
}

.send-btns {
	display: flex;
	justify-content: center;
	gap: 4rem;
	padding: 6.1rem 0 0 0;
}

.back-btn {
	background-color: #d3a1ff;
	display: block;
	width: 30rem;
	border-radius: 2.9rem;
	color: #fff;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 1rem 0 .8rem 0;
	text-align: center;
	box-shadow: 0 3px 0 0 rgba(168, 90, 237, 0.5);
}

.back-btn:hover {
	background-color: #e0bdfe;
	box-shadow: 0 3px 0 0 rgba(191, 125, 248, 0.5);
}

.back-btn:active {
	margin: .3rem 0 -0.3rem 0;
	box-shadow: none;
}

.submit-btn {
	background-color: #420a64;
	display: block;
	width: 30rem;
	border-radius: 2.9rem;
	color: #fff;
	border: none;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 1rem 0 .8rem 0;
	box-shadow: 0 3px 0 0 rgba(33, 4, 51, 0.5);
}

.submit-btn:hover {
	background-color: #8852a9;
}

.submit-btn:active {
	margin: .3rem 0 -0.3rem 0;
	box-shadow: none;
}

.confirm-contact-field>h2 {
	margin: 0 0 2rem 0;
}

.required-confirm {
	font-size: 1.8rem;
	padding: 0 0 2rem 0;
}

.mailing-address {
	padding: 0 0 4rem 0;
}

.confirm-mailing-address>h2 {
	margin: 0 0 2rem 0;
}

.address>span {
	display: block;
}

.address>span:nth-child(2) {
	margin: .5rem 0 0 0;
}

.thanks-flow {
	margin: 0 0 4.9rem 0;
}

.phone-number-input {
	display: flex;
	align-items: center;
}

.zip-code-input {
	display: flex;
	align-items: center;
}

.separator {
	display: block;
	width: 10px;
	height: 2px;
	border-top: 1px solid #a26cd2;
	margin: 0 1rem;
}


/* === フッター === */
footer {
	padding: 9rem 0 0 0;
}

.footer-menu {
	display: flex;
	justify-content: center;
}

.footer-menu-list {
	display: flex;
	padding: 0 0 2.4rem 0;
}

.footer-menu-list li {
	border-right: 1px solid #6902a6;
	line-height: 1;
	padding: 0 .8rem;
}

.footer-menu-list li:nth-child(1) {
	border-left: 1px solid #6902a6;
}

.footer-menu-list a {
	color: #6902a6;
	font-size: 1.8rem;
}

.copyright {
	background-color: #a566d1;
	padding: 1.5rem 0;
}

.copyright>small {
	color: #fff;
	font-size: 1.6rem;
	display: block;
	text-align: center;
}

/* === スマホページ 640px === */
@media (max-width: 640px) {
	header {
		padding: 1.8rem 0;
	}

	.header-container {
		width: 600px;
		margin: 0 auto;
	}

	main {
		padding: 3.5rem 0 0 0;
	}

	.main-container {
		width: 600px;
		margin: 0 auto;
	}

	.confirm-mailing-address>h2 {
		margin: 0 0 3rem 0;
	}

	.confirm-contact-field>h2 {
		margin: 0 0 3.9rem 0;
	}

	.shop-info-field>h2 {
		margin: 0 0 2.9rem 0;
	}

	h1 {
		color: #6902a6;
		font-size: 3.6rem;
		margin: 0 0 2.5rem 0;
	}

	.terms-of-service > h2 {
		font-size: 2.4rem;
	}

	.required-confirm {
		padding: 3rem 0;
		font-size: 2.4rem;
	}

	.registration-flow-list {
		font-size: 2.4rem;
		gap: 1.7rem;
		margin: 0;
	}

	.step>span {
		margin: 0 .5rem 0 0;
	}

	.current-step>span {
		margin: 0 .5rem 0 0;
	}

	.error {
		display: block;
		padding: 1.5rem 0 1.5rem 2rem;
		font-size: 2.2rem;
		margin: 4rem 0 0 0;
	}

	.error>span {
		display: block;
	}

	.instruction {
		font-size: 2rem;
		padding: 3.5rem 0 2.7rem 0;
	}

	h2 {
		font-size: 2.8rem;
	}

	.contact-field>p {
		padding: 1rem 0 3rem 0;
	}

	.contact-notice {
		font-size: 2rem;
	}

	.contact-field small {
		font-size: 2rem;
	}

	.info-list {
		flex-direction: column;
	}

	.info-list>dt {
		width: 100%;
		padding: 2rem 0 1.7rem 2rem;
		font-size: 2.4rem;
		display: flex;
		align-items: center;
		display: flex;
	}

	.info-list>dt>label {
		display: flex;
		align-items: center;
	}

	.notes {
		font-size: 2rem;
		margin: 0 0 0 1.5rem;
	}

	.info-list>dt:nth-child(1) {
		border-bottom: none;
	}

	.info-list>dd {
		width: 100%;
		border-left: 1px solid #a26cd2;
		padding: 2rem 1.7rem 3.5rem 2rem;
		font-size: 2.4rem;
		color: #555;
	}

	.error-message {
		font-size: 2.4rem;
		padding: .8rem 0 0 0;
	}

	input[type="text"]::placeholder,
	input[type="url"]::placeholder {
		font-size: 2.4rem;
	}

	.lg-input {
		width: 56rem;
		font-size: 2.4rem;
		padding: 1.7rem 1.8rem 1.5rem 1.8rem;
	}

	.sm-input {
		width: 16rem;
		padding: 2rem 1.8rem 1rem 1.8rem;
	}

	.separator {
		width: 20px;
		height: 2px;
		border-top: 1px solid #6902a6;
	}

	.address label {
		font-size: 2.4rem;
	}

	.regular-mail {
		font-size: 2rem;
		padding: 1rem 0 3rem 0;
	}

	.job-url-notes {
		font-size: 2rem;
	}

	.terms-list {
		font-size: 1.8rem;
		padding: 1rem 1.7rem;
	}

	label[for="agreement"] {
		font-size: 2.4rem;
	}

	.step-list {
		flex-direction: column;
	}

	.step-container-inner {
		width: 600px;
		margin: 0 auto;
	}

	.cta-container > span {
		white-space: nowrap;
		padding: 4.5rem 0 3rem 0;
	}

	.cta-container > p {
		padding: 3.5rem 0 7rem 0;
		font-size: 2.6rem;
	}

	.cta-login-btn {
		font-size: 3.2rem;
	}

	.manual {
		display: flex;
		padding: 2.3rem 0 3.8rem 0;
	}

	.logo-container {
		margin: 8rem 0 0 0;
	}

	.manual-text {
		padding: 0 0 0 2.1rem;
	}

	.to-do {
		text-align: left;
		font-size: 2.6rem;
	}

	.screen {
		text-align: left;
		font-size: 1.8rem;
		margin: 0 0 0 -1rem;
	}

	.how-to-use {
		padding: 0;
	}

	.description {
		font-size: 2rem;
		padding: 1.5rem 0;
	}

	.iphone {
		width: 23.6rem;
		height: 46.4rem;
	}

	.advantage {
		flex-direction: column;
		padding: 3.5rem 0 0 0;
	}

	.advantage > .cta-login-btn {
		margin: 7.2rem auto 0 auto;
	}

	.advantage > h2 {
		border: none;
		font-size: 4.6rem;
		text-align: center;
		padding: 0;
	}

	.advantage > p {
		font-size: 2.4rem;
		text-align: center;
		padding: 1.5rem 0 4rem 0;
	}

	.about-text > span {
		font-size: 2.8rem;
	}

	.terms-of-service {
		padding: 0 0 2rem 0;
	}

	.agreement-input {
		margin: 0;
	}

	.send-btns {
		gap: 2rem;
		padding: 6rem 0 0 0;
	}

	footer {
		padding: 11.7rem 0 0 0;
	}

	.footer-menu {
		display: block;
		width: 600px;
		margin: 0 auto;
	}

	.footer-menu-list li {
		padding: 0;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.footer-menu-list a {
		display: block;
		line-height: 1.2;
		width: 100%;
		height: 100%;
		padding: .9rem 0;
		font-size: 1.8rem;
	}

	.footer-menu-list li:nth-child(3) a,
	.footer-menu-list li:nth-child(5) a {
		padding: 2rem 0;
	}

	.copyright>small {
		font-size: 2rem;
	}
}