/* === 管理者ページ（ログイン画面以外）のCSS === */

@charset "UTF-8";

/* === 共通指定 === */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 2.4rem;
	background-color: #deecfa;
	font-family: メイリオ;
	color: #5c5c5c;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	display: block;
}

/* === ヘッダー共通 === */
header {
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.header-container {
	width: 640px;
	margin: 0 auto;
	padding: 2.4rem 0 2rem 0;
	position: relative;
}

.header-container-inner {
	width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container-inner>img {
	width: 21rem;
	margin: 0 0 0 2.5rem;
}

.header-container-inner>span {
	font-size: 2rem;
}

/* === ハンバーガーメニュー === */
#hamburger {
	display: none;
}

#hamburger~.header-menu {
	width: 38rem;
	margin: 0 auto;
	position: absolute;
	left: calc(50% - 320px - 38rem);
	top: 8.3rem;
	height: 100vh;
	transition: all .3s ease;
	opacity: 0;
	pointer-events: none;
}

#hamburger~.header-menu a {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 3rem 0 2.7rem 1.6rem;
}

.default-icon,
.hover-icon {
	height: 1.9rem;
	margin: 0 1.6rem 0 0;
}

.hover-icon {
	display: none;
}

#hamburger~.header-menu a:hover {
	background-color: #60677b;
}

#hamburger~.header-menu a:hover>.default-icon {
	display: none;
}

#hamburger~.header-menu a:hover>.hover-icon {
	display: block;
}

#hamburger:checked~.header-menu {
	background-color: #434858;
	color: #fff;
	position: absolute;
	height: 100vh;
	left: calc(50% - 320px);
	transition: all .2s;
	top: 8.3rem;
	pointer-events: auto;
	opacity: 1;
}

#open:hover {
	cursor: pointer;
}

/* === ハンバーガーメニューが開いているときの背景 === */
.main-container::before,
.footer-container::before {
	content: '';
	width: 640px;
	height: 100%;
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: -1;
	transition: opacity .2s ease;
}

body.is-open .main-container::before,
body.is-open .footer-container::before {
	opacity: 0.7;
	z-index: 1;
}

body.is-open .main-container,
body.is-open .footer-container {
	pointer-events: none;
}

/* === コンテンツ幅 === */
main {
	padding: 8.3rem 0 0 0;
}

.main-container {
	width: 640px;
	margin: 0 auto;
	position: relative;
}

/* === コンテンツ共通 === */
.ray-content {
	background-color: #fff;
	border-radius: .8rem;
	width: 600px;
	margin: 0 auto;
	padding: 2rem;
}

/* === パンくずリスト === */
.breadcrumbs {
	width: 600px;
	margin: 0 auto;
	padding: 2rem 0 2.4rem 0;
}

.breadcrumbs>span {
	font-size: 2.2rem;
}

.breadcrumbs a {
	color: #4d9aff;
}

.dashboard-breadcrumbs {
	padding: 2rem 0 3.2rem 0;
}

/* === 個別CSS === */
.dashboard {
	margin: 0 auto;
}

.dashboard li {
	background-color: #fff;
	border: .2rem solid #ddd;
	border-radius: .8rem;
}

.dashboard a {
	display: flex;
	padding: 2rem;
}

.dashboard a:hover {
	background-color: #dfedff;
}

.dashboard figure {
	width: 10rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard li:nth-child(1) figure {
	background-color: #4ad561;
}

.dashboard li:nth-child(2) figure {
	background-color: #ff80ef;
}

.dashboard li:nth-child(2) {
	margin: 3.9rem 0 0 0;
}

.btn-content {
	display: flex;
	width: 42rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 0 1.9rem;
}

.btn-content-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-title {
	color: #4d9aff;
	font-size: 3.2rem;
	display: block;
	line-height: 1.3;
}

.btn-description {
	color: #5c5c5c;
	font-size: 2.2rem;
}

.waiting-list {
	color: #ff80ef;
}

.notice {
	border-radius: .8rem;
	margin: 0 auto;
}

.dashboard-notice {
	padding: 4rem 0 0 0;
}

.notice-title {
	background-color: #efefef;
	display: flex;
	align-items: center;
	border-top-right-radius: .8rem;
	border-top-left-radius: .8rem;
	padding: 1.5rem 0 1.3rem 2.2rem;
	border-bottom: .2rem solid #aaa;
	font-size: 2.4rem;
}

.notice-title::before {
	content: '';
	display: block;
	background-image: url(../img/bk-bell-icon.png);
	background-repeat: no-repeat;
	width: 2.5rem;
	height: 3rem;
	margin: 0 .8rem 0 0;
}

.notice-list li {
	background-color: #f8f8f8;
	border-bottom: .1rem solid #aaa;
}

.notice-list li img {
	width: 1.3rem;
	height: 2.4rem;
}

.notice-list a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 2rem 1.4rem 1.8rem;
}

.notice-list a:hover {
	background-color: #dfedff;
}

.notice-text>span {
	display: block;
	color: #4d9aff;
	font-size: 2.4rem;
}

.notice-text time {
	color: #939393;
	font-size: 1.8rem;
	display: block;
}

.notice article {
	background-color: #f8f8f8;
	font-size: 2rem;
	padding: 2.3rem;
}

.article-title > h3 {
	font-size: 2.4rem;
	border-bottom: .1rem solid #aaa;
	line-height: 1;
	padding: 0 0 2.3rem 0;
	display: flex;
	align-items: center;
	font-weight: normal;
	gap: 1.3rem;
}

.new::before {
	content: 'NEW';
	background-color: #ff80ef;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.4rem;
	height: 2.2rem;
	color: #fff;
	font-size: 1.7rem;
	border-radius: .3rem;
	font-family: Oswald;
	font-weight: normal;
}

.article-title > time {
	color: #939393;
	font-size: 1.8rem;
	display: block;
	text-align: right;
	padding: 1rem 0 1rem 0;
}

.index {
	display: block;
	background-color: #efefef;
	border-bottom-right-radius: .8rem;
	border-bottom-left-radius: .8rem;
	padding: 1.5rem 0;
}

.index span {
	display: block;
}

.index>a {
	color: #4d9aff;
	font-size: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: end;
}

.index img {
	width: 1.3rem;
	height: 2.4rem;
	margin: 0 2rem 0 1.4rem;
}

/* === 個人情報の取り扱いについて === */
.privacy-policy {
	width: 600px;
	margin: 0 auto;
	padding: 2.2rem 0;
}

.privacy-policy>a {
	display: block;
	text-align: right;
	color: #4d9aff;
	font-size: 2rem;
}

/* === ページング === */
.paging {
	background-color: #fff;
	padding: 4rem 0 2.9rem 0;
	border-bottom-right-radius: .8rem;
	border-bottom-left-radius: .8rem;
}

.paging-gray {
	background-color: #f8f8f8;
}

.paging-btns {
	display: flex;
	gap: 2rem;
	width: 14rem;
	margin: 0 auto;
}

.paging-btns a {
	padding: 1rem 2rem;
	border: .2rem solid #4d9aff;
	border-radius: .3rem;
	color: #4d9aff;
	background-color :#fff;
}

.paging-btns a:hover {
	color: #fff;
	background-color: #4d9aff;
}

.paging-btns a:nth-child(1) {
	color: #fff;
	background-color: #4d9aff;
}

/* === 一覧に戻る === */
.back > a {
	display: flex;
	color: #4d9aff;
	align-items: center;
	font-size: 2.2rem;
}

.back img {
	height: 2.4rem;
	margin: 0 1.5rem 0 0;
}

.back {
	background-color: #efefef;
	border-bottom-right-radius: .8rem;
	border-bottom-left-radius: .8rem;
	padding: 1.5rem 0 1.5rem 1.8rem;
}

.registration {
	padding: 3.1rem 2rem 2rem 2rem;
}

.applicant-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ray-content h2 {
	color: #343434;
	font-size: 3.8rem;
	line-height: 1;
}

.registration-content h2 {
	margin: 0 0 4rem 0;
}

.registration-content p {
	color: #666;
	margin: 0 0 .5rem 0;
}

.registration-content label {
	color: #666;
	font-size: 2.4rem;
}

.input-area {
	display: flex;
	align-items: center;
}

.input-area > span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	border-top: .2rem solid #ddd;
	border-left: .2rem solid #ddd;
	border-bottom: .2rem solid #ddd;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	background-color: #e7e7e7;
}

.input-area > input {
	display: block;
	width: 50.2rem;
	height: 6rem;
	border: .2rem solid #ddd;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
	font-size: 2.4rem;
}

.registration-content form {
	padding: 3rem 0 4rem 0;
}

form .form-item:nth-child(2) {
	padding: 3rem 0 0 0;
}

form .form-item:nth-child(3) {
	padding: 3rem 0 0 0;
}

.name-error {
	display: flex;
	align-items: end;
	color: #ff4848;
	font-size: 2rem;
	padding: .5rem 0 0 5.9rem;
}

.name-error span:nth-child(1) {
	margin: 0 1.3rem 0 0;
}

.name-error span:nth-child(2) {
	line-height: 1;
}

.name-required {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name-required > span {
	background-color: #ff4848;
	color: #fff;
	font-size: 1.5rem;
	display: block;
	height: 2rem;
	padding: .3rem .8rem;
	border-radius: .2rem;
	line-height: 1;
}

.applicant-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.create-url {
	font-size: 2.4rem;
	background-color: #4ad561;
	border: none;
	border-radius: .5rem;
	color: #fff;
	display: block;
	width: 100%;
	padding: 1rem 0;
	margin: 4rem 0 0 0;
}

.create-url:hover {
	background-color: #7ded8f;
	cursor: pointer;
}

.applicant-heading > a {
	width: 22rem;
	height: 5rem;
	gap: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	color: #fff;
	background-color: #4ad561;
	border: none;
	border-radius: .5rem;
	margin: 0;
}

.copy-url-description {
	color: #666;
}

.display {
	color: #666;
	font-size: 2rem;
	width: 50rem;
	border-top: .2rem solid #ddd;
	border-bottom: .2rem solid #ddd;
	border-left: .2rem solid #ddd;
	border-right: none;
	padding: 1.5rem 1.9rem;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	background-color: #e5f7e8;
}

.status .display {
	width: 44rem;
}

.copy-url {
	display: flex;
	padding: 3rem 0 0 0;
	position: relative;
	margin: 0 0 2.6rem 0;
}

#copy {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	width: 6rem;
	border: .2rem solid #ddd;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.copy-url::before {
	content: 'コピーしました';
	width: 14rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .4rem;
	background-color: #333;
	color: #fff;
	font-size: 1.8rem;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 -2rem -4.5rem 0;
}

.copy-url::after {
	content: '';
	width: 2.1rem;
	height: 1.2rem;
	display: block;
	background-color: #333;
	position: absolute;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	bottom: 0;
	right: 3rem;
	margin: 0 0 -1rem 0;
}

.copy-url::before,
.copy-url::after {
	opacity: 0;
	transition: opacity .2s ease;
}

.copy-url.show-copy::before,
.copy-url.show-copy::after {
	opacity: 1;
}

.copy-url.show-copy #copy {
	background-color: #999;
	cursor: pointer;
}

#copy:hover {
	background-color: #999;
	cursor: pointer;
}

.registration {
	padding: 3rem 2rem;
}

.applicant-content {
	padding: 3rem 2rem 2rem 2rem;
}

/* === タブ === */
input[type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	justify-content: center;
	padding: 4rem 0 0 0;
}

.tabs > label {
	color: #4d9aff;
	flex: 1;
	display: flex;
	justify-content: center;
	border-radius: .5rem;
	border: .2rem solid #4d9aff;
}

.tabs > label:hover {
	background-color: #4d9aff;
	color: #fff;
	cursor: pointer;
}

.tabs > label:nth-child(1) {
	margin: 0 2rem 0 0;
}

#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"] {
	background-color: #4d9aff;
	color: #fff;
}

.waiting-review-list,
.all-applicant-list {
	display: none;
}

#tab1:checked ~ .waiting-review-list {
	display: block;
}

#tab2:checked ~ .all-applicant-list {
	display: block;
}

.waiting-review-list > li,
.all-applicant-list > li {
	border: .2rem solid #ddd;
	border-radius: .8rem;
	margin: 4rem 0 0 0;
}

.waiting-review-list a,
.all-applicant-list a {
	display: block;
    padding: .8rem;
}

.waiting-review-list a:hover,
.all-applicant-list a:hover {
	background-color: #dfedff;
}

.review-request {
	color: #ff47e8;
	font-size: 2rem;
	font-weight: bold;
}

.status-label {
	display: flex;
	justify-content: space-between;
}

.user-status {
	border-bottom: .2rem solid #aaa;
}

.user-status > span {
	display: flex;
	align-items: center;
}

/* === user-statusラベルの基本スタイル === */
.label {
	color: #fff;
	font-size: 2rem;
	width: 12rem;
	height: 4rem;
	border-radius: .4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* === 「評価待ち」ラベル === */
.waiting-review {
	background-color: #ff47e8;
}

/* === 「通過」ラベル === */
.passed {
	background-color: #4d9aff;
}

/* === 「未提出」ラベル === */
.not-submitted {
	background-color: #bababa;
}

/* === 「見送り」ラベル === */
.rejected {
	background-color: #ff4169;
}

.resend-interview-request {
	color: #5c5c5c;
	font-size: 2rem;
}

.user-icon {
	margin: 0 1.3rem 0 0;
}

.user-contact {
	display: flex;
	align-items: center;
	gap: .5rem;
	padding: .3rem 0 0 0;
}

.user-contact > span {
	color: #5c5c5c;
	font-size: 2rem;
}

.contact-icon-list {
	display: flex;
	gap: .5rem;
}

.user-name {
	color: #4d9aff;
	font-size: 3.6rem;
}

.notice .new {
	display: flex;
	align-items: center;
	gap: .8rem;
}

.applicant-detail {
	border: .2rem solid #ddd;
	border-radius: .8rem;
	padding: .8rem;
	margin: 5rem 0 0 0;
}

.applicant-contact {
	padding: .5rem 0 0 0;
}

.applicant-contact li {
	display: flex;
	align-items: center;
	font-size: 2rem;
}

.applicant-contact li > span:nth-child(1) {
	margin: 0 1.2rem 0 0;
}

.date {
	color: #000;
}

.applicant-video {
	border: .2rem solid #ddd;
	border-radius: .8rem;
	margin: 4rem 0 0 0;
}

.applicant-video h3 {
	font-size: 2rem;
	background-color: #f8f8f8;
	font-weight: normal;
	border-top-right-radius: .8rem;
	border-top-left-radius: .8rem;
	padding: 2rem;
	border-bottom: .2rem solid #aaa;
}

.status {
	padding: 2.9rem 2.8rem;
}

.video-label {
	display: block;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	padding: 1rem 0;
}


#reject-btn {
	background-color: #ff4169;
	margin: 0 2rem 0 0;
}

#reject-btn:hover {
	background-color: #ff708e;
	cursor: pointer;
}

.passed {
	background-color: #4d9aff;
}

.passed:hover {
	background-color: #7ab3fd;
	cursor: pointer;
}

.status small {
	display: block;
	font-size: 2rem;
}

.copy-url input::placeholder {
	font-size: 2rem;
}

.status > .create-url {
	margin: 4rem 0;
}

/* === フッター共通 === */
footer {
	background-color: #deecfa;
	border-top: 2px solid #000;
}

.footer-container {
	width: 640px;
	margin: 0 auto;
	padding: 1.5rem 0;
	position: relative;
}

.footer-container>small {
	color: #5c5c5c;
	display: block;
	text-align: center;
	font-weight: bold;
}

/* === 通過 モーダル === */
.modal {
	width: 560px;
	margin: 0 auto;
	background-color: #fff;
}

.passed-confirm {
	background-color: #4d9aff;
	color: #fff;
	padding: 2rem 3rem;
}

.modal-description {
	font-size: 2rem;
	padding: 2rem 4rem 2.5rem 3rem;
	border-bottom: .2rem solid #aaa;
}

.modal-description > p:nth-child(2) {
	padding: 1rem 0 0 0;
}

.modal-btns {
	padding: 2.9rem 0 3rem 0;
	margin: 0 auto;
	width: 50rem;
	display: flex;
	justify-content: space-between;
}

.modal-btns > button {
	width: 24rem;
	display: block;
	border: none;
	color: #fff;
	font-size: 2.4rem;
	padding: 1rem 0;
	border-radius: .5rem;
}

.cancelled {
	background-color: #b1b1b1;
}

.cancelled:hover {
	background-color: #d3d3d3;
	cursor: pointer;
}

/* === 不採用 モーダル === */
.rejected-confirm {
	background-color: #ff4169;
	color: #fff;
	padding: 2rem 3rem;
}

.rejected-btn {
	background-color: #ff4169;
	color: #fff;
}

.rejected-btn:hover {
	background-color: #ff708e;
	cursor: pointer;
}

/* === 面接URL送信 モーダル === */
.submit-confirm {
	background-color: #4ad561;
	color: #fff;
	padding: 2rem 3rem;
}

.inline-submit-btn {
	background-color: #4ad561;
	color: #fff;
	cursor: pointer;
}

.inline-submit-btn:hover {
	background-color: #7ded8f;
	color: #fff;
}
