@charset "UTF-8";

/* === 共通CSS === */
*,
::before,
::after {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: メイリオ;
	background: linear-gradient(90deg, rgba(231, 199, 255, 1) 0%, rgba(210, 229, 255, 1) 100%);
	font-size: 1.7rem;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

/* === メイン === */
header {
	background-color: #1b002c;
	padding: 2rem 0;
}

.header-container {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container > a{
	color: #6e14a9;
	font-weight: bold;
	background-color: #fff;
	display: block;
	padding: .2rem 5rem;
	border-radius: 20px;
	font-size: 2.4rem;
}

.header-container > a:hover {
	background-color: #e4bbff;
}

.hero {
	background-color: #220069;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.bg-purple {
	background-color: #420a64;
}

.appeal {
	margin: -18rem 0 0 0;
}

.appeal-top {
	display: flex;
	justify-content: end;
}

.appeal-imgs {
	padding: 0 2rem 0 0;
}

.appeal-img-2 {
	padding: 2.1rem 0 0 0;
}

.video {
	margin: -2rem 0 0 0;
	position: relative;
}

video {
	width: 26.5rem;
	height: 45rem;

	/*
	動画のサイズがわかりやすいように色をつけています。
	必要に応じて、外してください。
	*/
	background-color: #333;

	position: absolute;
	top: 15rem;
	left: 9.6rem;
}

.appeal-bottom {
	margin: -25rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.appeal-description {
	position: relative;
	z-index: 1;
}

.recommend {
	padding: 6rem 0;
}

.cta-top {
	padding: 6rem 0;
}

.cta-btn {
	display: block;
	color: #290042;
	font-size: 3.2rem;
	font-weight: bold;
	background-color: #ffe500;
	width: 90.1rem;
	margin: 0 auto;
	text-align: center;
	border-radius: 4rem;
	padding: 1rem 0;
	box-shadow: 0 3px 0 0 rgba(167, 141, 19, 0.5);
	margin: 1.9rem 0 3.8rem 0;
}

.cta-btn:hover {
	background-color: #ffef5f;
	color: #6b2098;
	box-shadow: 0 3px 0 0 rgba(234, 213, 114, 0.5);
}

.cta-btn:active {
	box-shadow: none;
	margin: 2.2rem 0 3.5rem 0;
}

.cta-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-btn {
	color: #420a64;
}

.bg-purple .contact-btn {
	color: #fff;
}

.problem-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 9.5rem 0 0 0;
}

.solution {
	padding: 6rem 0 8.8rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-feature > .container {
	position: relative;
}

/* TODO: 紹介動画ができ次第、レイアウトを修正して表示 */
/* .introduction-mv {
	display: block;
	color: #fff;
	font-size: 2.4rem;
	padding: 1.2rem 0;
	width: 29rem;
	color: #ff0000;
	background-color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 0 0 0 auto;
	position: absolute;
	bottom: 9rem;
	right: 10.3rem;
} */

.cta-middle-top {
	padding: 0 0 6rem 0;
}

.cta-middle-bottom {
	padding: 0 0 6rem 0;
}

.cta-bottom {
	padding: 0 0 8rem 0;
}

.effect {
	padding: 9rem 0 5.3rem 0;
}

.effect img {
	margin: 0 auto;
}

/* === フッター === */
.copyright {
	background-color: #a566d1;
	padding: 1.5rem 0;
}

.copyright>small {
	color: #fff;
	font-size: 1.6rem;
	display: block;
	text-align: center;
}

@media (max-width: 640px) {
	.header-container {
		width: 600px;
	}

	.header-container > a {
		padding: .2rem 3rem;
	}

	.hero img {
		width: 100%;
	}

	.container {
		width: 600px;
	}

	.main-feature img {
		width: 100%;
	}

	.reason img {
		width: 100%;
	}

	.flow img {
		width: 100%;
	}

	.faq img {
		width: 100%;
	}

	.appeal {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: -20rem 0 0 0;
	}

	.video {
		padding: 4rem 0 5rem 0;
	}

	.video > img {
		padding: 0 0 0 3.4rem;
	}

	video {
		width: 32.6rem;
		height: 56rem;
		top: 17.3rem;
		left: 14.4rem;

		/*
		動画のサイズがわかりやすいように色をつけています。
		必要に応じて、外してください。
		*/
		background-color: #333;
	}

	.appeal-img-2 {
		padding: 3.6rem 0 0 0;
	}

	.recommend {
		padding: 6rem 0 4.9rem 0;
	}

	.problem-content {
		padding: 10rem 0 0 0;
	}

	.solution {
		padding: 4.1rem 0 9.8rem 0;
	}

	/* TODO: 紹介動画ができ次第、レイアウトを修正して表示 */
	/* .introduction-mv {
		width: 28rem;
		height: 10rem;
		font-size: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		bottom: 27rem;
		right: 1.3rem;
	} */

	.cta-btn {
		width: 60rem;
	}

	.cta-bottom {
		padding: 6.3rem 0 6rem 0;
	}

	.copyright {
		background-color: #a566d1;
		padding: 1.5rem 0;
	}

	.copyright>small {
		color: #fff;
		font-size: 2rem;
		display: block;
		text-align: center;
	}
}